.nav {
    grid-area: n;
    background-color: #4389d2;
    padding: 20px;
    border-radius: 10px;

}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}